<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluepinapp.bluepin">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.bluepinapp.bluepin.BizmiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bluepinapp.bluepin.controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bluepinapp.bluepin.controller.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bluepinapp.bluepin.controller.CustomerSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bluepinapp.bluepin.controller.BusinessSignUpActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bluepinapp.bluepin.controller.ForgotPasswordActivity" />
        <activity android:name="com.bluepinapp.bluepin.controller.CustomerMainActivity" />
        <activity android:name="com.bluepinapp.bluepin.controller.BusinessMainActivity" />
        <activity android:name="com.bluepinapp.bluepin.PhoneVerificationActivity" />
        <activity android:name="com.bluepinapp.bluepin.controller.EditLocationActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDuBB7RAQX0Bu22ORECPDr40nWtUg0tSRg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.bluepinapp.bluepin.controller.NewReservationActivity" />
        <activity android:name="com.bluepinapp.bluepin.controller.MessageThreadActivity"></activity>
    </application>

</manifest>